.footer__container {
    background: black;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.footer__links-user {
    display: flex;
    flex-direction: column;
}

.footer__links {
    font-size: 17px;
}

.footer__network {
    display: flex;
    flex-direction: row;
}

.footer__network-i {
    margin: 25px 18px 25px 0px;
    font-size: 17px;
}

.footer__network-i,
.footer__links {
    text-decoration: none;
    color: var(--bg-header);
    font-weight: bold;
}

.footer__contact-us {
    text-decoration: none;
    color: #07a700;
}

@media (min-width: 768px) {
    .footer__container {
        flex-direction: row;
        padding: 40px;
        align-items: center;
    }

    .footer__network {
        justify-content: center;
    }

    .footer__links-user,
    .footer__network,
    .footer__container-contact-us {
        width: 25%;
        flex-grow: 1;
    }

    .footer__container-contact-us {
        display: flex;
        justify-content: flex-end;
    }

    .footer__links,
    .footer__contact-us {
        font-size: 19px;
    }

    .footer__network-i {
        margin: 0px 10px;
        font-size: 21px;
    }
}

@media (min-width: 1024px) {
    .footer__container {
        padding: 85px 40px;
    }

    .footer__network-i {
        font-size: 23px;
        margin: 25px
    }
}